sv-services/capture-wp-webapp/src/main/resources/wsdl/BackendGatewayServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="BackendGatewayServerImplService" targetNamespace="http://ws.capturatrx.transbank.com/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.capturatrx.transbank.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.capturatrx.transbank.com/" version="1.0" xmlns:tns="http://ws.capturatrx.transbank.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="capturaDiferida" type="tns:capturaDiferida" />
<xs:element name="capturaDiferidaResponse" type="tns:capturaDiferidaResponse" />
<xs:complexType name="capturaDiferida">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:trxInput" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="trxInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="codAut" type="xs:string" />
      <xs:element minOccurs="0" name="codCred" type="xs:string" />
      <xs:element minOccurs="0" name="fechaAut" type="xs:string" />
      <xs:element minOccurs="0" name="finTarjeta" type="xs:string" />
      <xs:element name="montoCaptura" type="xs:double" />
      <xs:element minOccurs="0" name="ordenPedido" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="capturaDiferidaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:trxReturn" />
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="trxReturn">
    <xs:sequence>
      <xs:element name="codErr" type="xs:int" />
      <xs:element minOccurs="0" name="desErr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="capturaDiferidaResponse">
    <wsdl:part element="tns:capturaDiferidaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="capturaDiferida">
    <wsdl:part element="tns:capturaDiferida" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BackendGatewayServer">
    <wsdl:operation name="capturaDiferida">
      <wsdl:input message="tns:capturaDiferida" name="capturaDiferida">
    </wsdl:input>
      <wsdl:output message="tns:capturaDiferidaResponse" name="capturaDiferidaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BackendGatewayServerImplServiceSoapBinding" type="tns:BackendGatewayServer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="capturaDiferida">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="capturaDiferida">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="capturaDiferidaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BackendGatewayServerImplService">
    <wsdl:port binding="tns:BackendGatewayServerImplServiceSoapBinding" name="BackendGatewayServerImplPort">
      <soap:address location="https://200.10.12.198/capturatrx/BackendGatewayServer" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>