sv-services/autoriza-webapp/src/main/webapp/WEB-INF/wsdl/AutorizaBean.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bean.aut.bbr.cl" xmlns:impl="http://bean.aut.bbr.cl" xmlns:intf="http://bean.aut.bbr.cl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://bean.aut.bbr.cl" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://bean.aut.bbr.cl" xmlns:intf="http://bean.aut.bbr.cl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="doAuthLdapResponse">
    <complexType>
     <sequence>
      <element name="doAuthLdapReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="doAuthLdap">
    <complexType>
     <sequence>
      <element name="login" nillable="true" type="xsd:string"/>
      <element name="pass" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="doAuthLdapResponse">

      <wsdl:part element="impl:doAuthLdapResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="doAuthLdapRequest">

      <wsdl:part element="impl:doAuthLdap" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="AutorizaBean">

      <wsdl:operation name="doAuthLdap">

         <wsdl:input message="impl:doAuthLdapRequest" name="doAuthLdapRequest"/>

         <wsdl:output message="impl:doAuthLdapResponse" name="doAuthLdapResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AutorizaBeanSoapBinding" type="impl:AutorizaBean">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="doAuthLdap">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doAuthLdapRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doAuthLdapResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AutorizaBeanService">

      <wsdl:port binding="impl:AutorizaBeanSoapBinding" name="AutorizaBean">

         <wsdlsoap:address location="http://localhost:9080/WS_JMCLAUT/services/AutorizaBean"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
